@using EntityLayer.Concrete
@model List<Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    string status = "";
    string statuColor = "";
}

<table class="table table-bordered text-center">
    <tr>
        <th>#</th>
        <th>Kullanıcı Adı</th>
        <th>Yetki</th>
        <th>Status</th>
        <th>Pasif Yap</th>
        <th>Yetkisini Değiştir</th>
    </tr>
    <!--Razor Syntax -->
    @foreach (var item in Model)
    {
        if (item.AdminStatus)
        {
            status = "Pasif Yap";
            statuColor = "btn-secondary";
        }
        else
        {
            status = "Aktif Yap";
            statuColor = "btn-success"; 
        }
        <tr>
            <th scope="row">@item.AdminID</th>
            <td>@item.AdminUserName</td>
            <td>@item.AdminRole</td>
            <td>
                @if (item.AdminStatus)
                {
                    <span class="badge badge-success">Aktif</span>
                }
                else
                {
                    <span class="badge badge-secondary">Pasif</span>
                }
            </td>
            <td>
                <a href="/Authorization/StatusChangedAdmin/@item.AdminID"
                   class="btn @statuColor">@status                    
                </a>
            </td>
            <td><a href="/Authorization/EditAdmin/@item.AdminID" class="btn btn-warning">Yetkisini Değiştir</a></td>
        </tr>
    }
</table>
<a href="/Authorization/AddAdmin" class="btn btn-info col-md-6 offset-md-3">Yeni Admin Ekle</a>

